<h1>this is the CREATE page</h1>

<form class="" action="/create" method="post">
    <input type="text" name="name" value="" placeholder="Pokémon">
    <input type="text" name="gender" value="">
    <input type="text" name="" value="">
</form>
